// PADRÕES

@import url('//fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'variaveis';
@import 'comments.scss';
///@import 'botoes';
@import 'reset';
@import 'theme';
@import "../css/responsive";
@import '../../components/components.scss';

html {
  overflow-x: hidden !important;

  body {
    overflow-x: hidden !important;
    font-size: 0.97em;
    font-weight: 400;
    font-family: $regular;
    position: relative;
    left: 0;
    transition: all .5s ease;
    padding: 0 !important;

    .fw-regular {
      font-weight: $regular !important;
    }

    .fw-medium {
      font-weight: $medium !important;
    }

    .fw-semi-bold {
      font-weight: $semiBold !important;
    }

    .fw-bold {
      font-weight: $bold !important;
    }

    .fw-extra-bold {
      font-weight: $extraBold !important;
    }

    .fw-black {
      font-weight: $black !important;
    }

    .text-primario {
      color: $corPrimaria !important;
    }

    .text-secundario {
      color: $corSecundaria !important;
    }

    .bg-primario {
      background-color: $corPrimaria;
    }

    .bg-secundario {
      background-color: $corSecundaria;
    }
  }
}

.btn-navbar .nav-link {
  background: $corSecundaria;
  padding: 15px !important;
  color: #fff !important;
  text-transform: uppercase;
  border: none !important;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 80%);

}

nav a.nav-link {
  text-transform: uppercase;
  font-weight: 600 !important;
  transition: $transicaoPadrao;
}

.btn-navbar {
  margin-left: 50px !important;
}

img.attachment-logo.size-logo {
  width: 205px;
  height: auto;
  top: 10px;
  position: relative;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 48px !important;
  line-height: 46px !important;
  border-color: #e7e7e7 !important;
}

.search_smart_property h2 span {
  color: $corPrimaria;
}

.owl-carousel .owl-item img {
  width: auto !important;
  margin: 0 auto;
}

a {

  &:hover {
    .logo-cia {
      opacity: 1;
      filter: brightness(1);
    }
  }

  .logo-cia {
    width: 80px !important;
    opacity: 0.6;
    filter: brightness(0.6);
    transition: $transicaoPadrao;
  }
}

.logo-footer img.attachment-logo.size-logo {
  margin: 0 auto;
  display: block;
  width: 260px;
}

.footer_one a.nav-link {
  padding: 0;
}

#redes-sociais a {
  background-color: #d7d7d7;
  margin-right: 5px;
  width: 27px;
  height: 27px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  transition: all .2s ease;
}

#redes-sociais a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #232733;
}

#redes-sociais a:hover {
  background: #fff;
}

.floating-contacts {
  position: fixed;
  top: 49%;
  right: 100px;
  z-index: 9;
  transform: translate(0, -50%);
  width: 120px;
  border-radius: 5px;


  a {
    transition: $transicaoPadrao;
    border-bottom: 1px solid #ffdc87;
    display: block;

    &:last-child {
      border: none;
    }

    .floating-contacts-content {
      padding: 15px;

      h4 {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
      }

      img {
        margin: 0 auto;
        display: block;
      }
    }
  }

  &:hover {
    margin-top: -59px !important;
  }
}

.truncate2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.truncate4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.truncate5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.truncate6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.home-three h5.data-filter-section-title, .home-three .data-filter-section-title {
  display: none;
}

.mdf_search_form {
  display: flex;
}

.mdf_input_container_taxonomies {
  display: flex;
}

.mdf_input_container_block_0, .mdf_input_container_block_2 {
  width: 20%;
}

.mdf_input_container_block_1 {
  width: 50%;
}


.mdf_shortcode_submit_button {
  width: 20%;
}

.chosen-container .mdf_select_emulator_container .dropdown dd ul, .mdf_input_container .mdf_select_emulator_container .dropdown dd ul {
  background: #FFF;
  padding: 8px;
  color: #6d6d6d;
  min-height: 158px;
  z-index: 9999;
  border: 1px solid #aaaaaa;
  top: -1px;
}

.select2-container {
  width: 100% !important;
}

.mdf_select_emulator_container .dropdown dt a {
  background-color: #fff !important;
  border: 1px solid #e7e7e7 !important;
  border-radius: 4px;
  height: 48px !important;
  line-height: 30px !important;
}

.mdf_select_emulator_container .dropdown dt a span, .mdf_select_emulator_container .multiSel span {

  color: #444;
  font-weight: 400;
  font-size: 15px;
}

.home_adv_srch_opt input[type="submit"].mdf_button {
  border-radius: 8px;
  background-color: var(--corPrimaria);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  font-size: 16px;
  font-family: $montserrat;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  padding: 11px;
  width: 100%;
}

.mdf_input_container.mdf_taxonomy_imoveis {
  margin-right: 8px;
}

.mdf_select_emulator_container .dropdown:after {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
  content: '';
  position: absolute;
  right: 10px;
}

span.flaticon-tick {
  color: $corPrimaria !important;
}

.sidebar_feature_listing .media img {
  border-radius: 5px;
}

.text-thm span:nth-child(2):before, .text-thm span:nth-child(3):before, .text-thm span:nth-child(4):before, .text-thm span:nth-child(5):before, .text-thm span:nth-child(6):before, .text-thm span:nth-child(7):before {
  content: "| ";
}

.feat_property.list .dtls_headr ul.tag .comercializacao-tag {
  background: $corSecundaria;
}

.feat_property.list .dtls_headr ul.tag .destaque-tag {
  background: $corPrimaria;
}

.spls_style_one img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb a {
  z-index: 1;
}

.feat_property .thumb .thmb_cntnt .icon li {
  z-index: 2;
  position: relative;
}

.details {
  cursor: auto;
}

#breadcrumbs-item a, #breadcrumbs-item span {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1rem;
}


.icon_diferenciais {
  filter: brightness(0.2);
  top: 50%;
  position: absolute;
  left: 50% !important;
  transform: translate(-50%, -50%);
  transition: $transicaoPadrao;
}


.why_chose_us:hover .icon_diferenciais {
  filter: brightness(1);
}

.icon {
  position: relative;
}

.modal-header span {
  font-weight: 500;
  left: -3px;
  top: 3px;
  position: relative;
}

span.wpcf7-not-valid-tip {
  font-size: 12px;
}

img.avatar.avatar-100 {
  width: 40px;
  height: auto;
  border-radius: 50px;
}

.blog_post_container p#breadcrumbs-item span > span {
  color: #484848 !important;
}

.blog_post_container p#breadcrumbs-item, .blog_post_container p#breadcrumbs-item a {
  color: #000 !important;
}

.main_blog_post_content .mbp_thumb_post .blog_sp_tag {
  margin-right: 11px;
  display: inline-block;
}

.blog_post_share li {
  display: inline-block !important;
}

#searchform input {
  border: 1px solid #ebebeb;
  border-radius: 8px;
  background-color: #ffffff;
  flex: 1;
  height: 52px;
  padding-left: 20px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-right: none;
}

button#button-addon2 {
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  border-left: transparent !important;
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  height: 52px;
  left: -4px;
}

img.img-recents-posts.wp-post-image {
  height: auto;
  border-radius: 5px;
}

.title-mais-lidos {
  font-size: 16px;
  font-family: $montserrat;
  color: #484848;
  font-weight: bold;
  line-height: 1.2;
}

.blog-sidebar {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 30px;
}

h2.rounded.fw-bold {
  font-size: 18px;
  font-family: $montserrat;
  color: #484848;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 25px;
}

li.cat-item {
  border-radius: 6px;
  background-color: rgb(227, 227, 227);
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  padding: 0px 25px;
  margin-right: 10px;
  display: inline-block;
}

.blog-sidebar ul {
  display: flex;
}

.for_blog.feat_property .tag {
  background-color: $corPrimaria;
  border-radius: 3px;
  color: #fefefe;
  font-family: $montserrat;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  left: 10px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 110px;
}

.post-type-archive-imovel .mdf_search_form, .post-type-archive-imovel .mdf_input_container_taxonomies {
  display: flex !important;
  flex-direction: column !important;
}

.navigation {
  display: none;
}

span.mdf_sort_panel {
  display: none;
}

select.mdf_taxonomy, .mdf_filter_select {
  width: 305px !important;
  background-color: #ffffff;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 8px;
  font-size: 14px;
  font-family: $montserrat;
  color: #484848;
  line-height: 1.2;
  height: 52px;
  padding-left: 20px;
}

.our-listing input.button.mdf_button {
  border-radius: 8px;
  background-color: var(--corPrimaria);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
  font-size: 16px;
  font-family: $montserrat;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  padding: 11px;
  width: 100%;
}

.our-listing .mdf_shortcode_submit_button {
  width: 90%;
}

h4.data-filter-section-title {
  display: none;
}

h5.data-filter-section-title {
  display: none;
}

.our-listing .mdf_input_container_taxonomies, .our-listing .mdf_search_form {
  display: flex;
  flex-direction: column;
}

.sidebar_listing_list h3 {
  font-size: 1.3rem;
}

.mdf_shortcode_container.mdf_shortcode_skin_col1_1 {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-bottom: 30px;
  position: relative;
  background: none;
}

.mdf_taxonomy_comercializacao {
  margin-top: 25px;
}

.mm-panels #navbarNav {
  position: relative;
  top: 18%;
  transform: translate(0, -50%);
}

.header .link-logo:before, .header .link-logo:after {
  width: 0;
  height: 0;
}

a.link-logo {
  height: 100% !important;
  padding-top: 0 !important;
  top: 0 !important;
  display: block !important;
  width: 100% !important;
  position: relative;
}

.header .link-logo:before, .header .link-logo:after {
  width: 0;
  height: 0;
}

a.link-logo {
  height: 100% !important;
  padding-top: 0 !important;
  top: 0 !important;
  display: block !important;
  width: 100% !important;
  position: relative;
}

.mm-panels .nav-item {
  color: rgba(0, 0, 0, .75);
  color: var(--mm-color-text);
  border-color: rgba(0, 0, 0, .1);
  border-color: #ebebeb;
  border-top-style: solid;
  border-width: 1px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav-item:first-child, .nav-item:last-child {
  border-top-width: 0;
}

.mm-panels .btn-navbar {
  margin-left: 0 !important;
  margin-top: 20px;
}

.mm-panels .dropdown.menu-item .dropdown-menu li .dropdown-item {
  color: #333;
}

a.closebtn {
  position: absolute;
  right: 0;
  font-size: 25px;
  background: #000;
  line-height: 18px;
  width: 30px;
  height: 30px;
  color: #fff;
  z-index: 1;
  border-radius: 20px;
  padding: 7px;
}

.mdf_shortcode_skin_col1_1 .mdf_widget_found_count {
  display: none;
}

.our-listing .mdf_shortcode_skin_col1_1 .mdf_input_container_taxonomies .mdf_input_container {
  width: 106% !important;
  margin-right: 0 !important;
}

section.home-three {
  height: 780px;
  padding: 0;
}

.row.row-banner {
  height: 650px;
}

#navbarNav {
  padding: 0.8rem 0;
}

.home_adv_srch_opt .mdf_input_container_block_0, .home_adv_srch_opt .mdf_taxonomy_comercializacao {
  display: none;
}

.home_adv_srch_opt .mdf_shortcode_skin_col1_1 .mdf_input_container_taxonomies .mdf_input_container {
  width: 100% !important;
  float: left;
  margin-right: 0;
}

.home_adv_srch_opt .mdf_tax_filter_section_imoveis {
  margin-right: 8px;
}

.home1_adsrchfrm {
  padding: 0 !important;
}

.mdf_shortcode_container.mdf_shortcode_skin_col1_1 {
  background-color: transparent !important;
  border: none !important;
}

.mdf_shortcode_skin_col1_1 .mdf_shortcode_submit_button {
  float: left;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 15px !important;
  width: 530px;
}

.menu-menu-principal-container a.nav-link:hover {
  background: $corPrimaria;
}

section#feature-property {
  margin-top: 220px;
}

section#feature-property.oportunidades-home {
  margin-top: 80px;
}

.property-city .container {
  background: rgba(255, 255, 255, 0.76) !important;
  position: relative;
  padding: 30px 30px 1px 30px;
  top: 100px;
}

img.bg-o-q-vc-procura {
  position: absolute;
  top: 0;
}

.why_chose_us .details h4 {
  &:hover {
    cursor: pointer;
  }
}

a.navbar_brand_sticky {
  margin-top: 25px;
}

.stricky-fixed {
  box-shadow: 0px 2px 6px rgb(0 0 0 / 0.2) !important;
}

header.header-nav.stricky-fixed.menu_style_home_one .ace-responsive-menu li a {
  border-color: #fe1032;
  color: #fe1032;
}

header.header-nav.stricky-fixed.menu_style_home_one .ace-responsive-menu li a:hover {
  color: #fff;
}

.quem-somos {
  height: 550px;

  p {
    top: 25px;
    position: relative;
  }
}

.content-localidade-home:first-child, .content-localidade-home:last-child {
  flex: 0 0 56.3333333333%;
  max-width: 56.3333333333%;
}

.content-localidade-home {
  height: 294px;
  background-size: cover !important;
  position: relative;
}

.content-localidade-home:nth-child(2), .content-localidade-home:nth-child(3) {
  flex: 0 0 39.6666666667%;
  max-width: 39.6666666667%;
}

.content-localidade-home:first-child, .content-localidade-home:nth-child(3) {
  margin-right: 1.5rem;
  background-size: cover;
}

.button {
  &.btn-primario {
    border-radius: 5px;
    background-color: $corPrimaria;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
    -o-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
    box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
    font-size: 16px;
    font-family: $montserrat;
    color: #ffffff;
    font-weight: 600;
    border: 0;
    padding: 10px 25px;
    transition: $transicaoPadrao;

    &:hover {
      background-color: $corSecundaria;
    }
  }

  .newsletter {
    z-index: 9999999;
  }
}

header.header-nav.menu_style_home_one.style2.home3:not(.header-home):not(.stricky-fixed) {
  background: #007b9f;
}

span.breadcrumb-separator {
  width: 15px;
  height: 8px;
  display: inline-block;
  top: -1px;
  border: 2px solid #ff1033;
  position: relative;
}

#breadcrumbs {
  font-weight: 500;

  a {
    transition: all .2s ease;

    &:hover {
      color: $corPrimaria;
    }
  }
}

.title-and-breadcrumb {
  padding: 40px 0 0 0;
}

.about-section {
  padding: 30px 0 0 0;
}

.the_title {
  border-bottom: 3px solid $corPrimaria;
  width: 100%;
  text-transform: uppercase;
  font-size: 21px;
  color: #000;
  font-weight: 500;
  line-height: 40px;
  display: inline;
  padding-bottom: 5px;
}

.header-nav:not(.header-home) .btn-navbar .nav-link {
  background-color: $corPrimaria;
}

.wpcf7-textarea {
  height: auto !important;
}

::-webkit-input-placeholder { /* Edge */
  color: $corBranca !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $corBranca !important;
}

::placeholder {
  color: $corBranca !important;
}

input#btnSubmit {
  background-color: #00526a;
  border-radius: 0;
  color: #ffff;
  font-weight: 400 !important;
  padding: 10px 40px;
}

div.wpcf7 .ajax-loader {
  position: absolute;
}

div.wpcf7 .ajax-loader {
  color: #fff;
  right: 30px;
  margin-top: 10px;
}

span.wpcf7-not-valid-tip {
  color: #ffc700;
  margin-top: -10px;
}

.captcha-img {
  right: 6px;
  margin-top: 8px;
}

.wpcf7-captchar {
  width: 98%;
}

a.button-contact-modal .floating-contacts-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

a.button-contact-modal {
  background: $corPrimaria;
  display: flex;
  margin-bottom: 20px;
  transition: all .3s ease;
  margin-top: 5px;
}

.floating-contacts-content h4 {
  color: $corBranca;
  text-transform: uppercase;
  margin-top: 12px;
  font-size: 22px;
  font-weight: 600;
}

a.button-contact-modal:hover {
  background-color: #00526a;
}


.owl-carousel .owl-item img {
  //height: 485px;
}

.owl-controls {
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
  width: 100%;
}

.owl-prev, .owl-next {
  position: absolute;
}

.owl-prev {
  left: 50px;
}

.owl-next {
  right: 50px;
}

.popup-img img {
  transition: all .3s ease;
}

a.popup-img:hover img {
  filter: brightness(0.6);
}

h1.single-imovel-title {
  font-size: 20px;
}

.codigo-valor {
  font-size: 20px;
}

.modal-content {
  background-size: 1400px;
  background-repeat: no-repeat;
}

.sidebar_listing_list input.wpcf7-form-control, .sidebar_listing_list .wpcf7-textarea {
  background-color: #b7001b;
  border: 0;
  border-radius: 0;
  color: #fff !important;
}

.sidebar_listing_list input.wpcf7-form-control:focus, .sidebar_listing_list .wpcf7-textarea:focus {
  background-color: #920015;
}

.sidebar_listing_list .wpcf7-captchac {
  top: 3px;
  right: 33px;
  position: relative;
}

.sidebar_listing_list .wpcf7-submit {
  background-color: #b7001b !important;
}

.sidebar_listing_list .wpcf7-submit:hover {
  background-color: #920015 !important;
}

.sidebar_listing_list span.wpcf7-not-valid-tip {
  margin-top: 10px !important;
}

.sidebar_listing_list input.wpcf7-form-control {
  height: 46px;
}

.simular-financiamento>.container> .row:before {
  content: '';
  width: 78%;
  border: 100px solid $corPrimaria;
  position: absolute;
  z-index: -1;
  height: 440px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.simular-financiamento img {
  position: absolute;
  top: 0;
}
.simular-financiamento .form-control {
  background-color: #00526a;
  border: none;
  border-radius: 0;
  color: #ffffff;
  font-size: 14px;
  height: 45px;
  line-height: 1.2;
}
.two-cols-form .form-group {
  margin-bottom: 5px !important;
}
.simular-financiamento .col-md-6.offset-md-6.pr-5 {
  top: -30px;
}
@import 'media-queries.scss';