
// Largura Máxima de 767 Pixels
@media(max-width: 767px) {
  .floating-contacts {
    display: none;
  }
  .home3_home_content h1 {
    display: block !important;
    font-size: 34px !important;
  }
  img.attachment-logo.size-logo {
    width: 179px;
    margin-top: 10px;
  }

  .mdf_search_form {
    display: block;
  }
  .mdf_input_container_block_0, .mdf_input_container_block_2 {
    width: 100%;
  }
  .mdf_input_container_taxonomies {
    display: block;
    width: 100%;
  }

  .mdf_input_container_block {
    width: 100%;
  }

  .mdf_tax_filter_section_imoveis {
    margin-top: 10px;
  }

  .home_adv_srch_opt input[type=submit].mdf_button {
    width: 100%;
  }

  .mdf_shortcode_submit_button {
    width: 100%;
    margin-top: 10px;
  }
  .feature_property_home6_slider.owl-carousel .owl-item img {
    width: 100% !important;
    height: auto;
  }
  .owl-next {
    right: -20px !important;
  }
  img.img-modal-sumulacao {
    display: none;
  }
  .content-localidade-home:first-child, .content-localidade-home:last-child, .content-localidade-home:nth-child(2), .content-localidade-home:nth-child(3) {
    max-width: 100%;
    flex: 0 0 100%;

  }
}

// Largura Máxima de 990 Pixels
@media(max-width: 990px) {

  }

// Largura Mínima de 768 Pixels
@media(min-width: 768px) {

}