/*  CORES DO TEMA */

$corPrimaria: var(--corPrimaria);
$corSecundaria: var(--corSecundaria);
$corTerciaria:var(--corTerciaria);
$corBody: var(--corBody);
$corAuxiliar: var(--corAuxiliar);

/* VARIÁVEIS CORES PADRÕES */

$corBranca: #ffffff;
$corPreta:#1a1a1a;

/* VARIÁVEIS HEADERS */

$menuPrimario:$corPrimaria;
$menuSecundario: $corBranca;
$menuPrincipal:$corPrimaria;

/* Fontes */
$montserrat: 'Montserrat', sans-serif;
$texto: 'Montserrat', sans-serif;
$regular: 'Montserrat', sans-serif;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;

/* Transitions */
$transicaoPadrao: all .3s ease-in-out;