#diferenciais {
  padding: 100px 0;

  .container {
    .row {
      h4 {
        color: #0c0c0c !important;
        font-weight: bold;
      }

    }
  }
}

#locais {
  padding-bottom: 50px;

  .container {
    .row {
      .conteudo {
        img {
          width: auto;
          position: relative;
          top: -7px;
        }

        p {
          line-height: 1.1rem;
        }
      }
    }
  }
}

#img-diferenciais {
  padding-bottom: 100px;
}