.img-slider-home {
  position: absolute;
  left: 0;
  top: 0;
}

.hero-slider-home.owl-carousel .owl-stage-outer {
  height: 780px !important;
}

.hero-slider-home .owl-controls {
  position: absolute;
  width: 100%;
  z-index: 9999999999;
  display: flex;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0;
  transition: $transicaoPadrao;
}

.hero-slider-home .owl-nav {
  width: 100%;
}

.hero-slider-home .owl-prev {
  left: 2%;
  position: absolute;
}

.hero-slider-home .owl-next {
  right: 2%;
  position: absolute;
}

.hero-slider-home:hover .owl-controls {
  opacity: 1;
}

.owl-theme .owl-nav [class*=owl-] {
  width: 50px !important;
  height: 50px !important;
  border-radius: 0px !important;
  background: transparent !important;
  padding: 30px 0 !important;
  transition: $transicaoPadrao;
  border: 1px solid #fff;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgb(0 0 0 / 80%) !important;
}

.owl-nav i {
  top: 52% !important;
  position: absolute !important;
  left: 51% !important;
  transform: translate(-50%) !important;
  line-height: 0 !important;
  font-size: 20px !important;
}

.busca-home {
  top: -60px;
  position: relative;
}


.overlay-filter {
  filter: brightness(1.5);
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%);
}

.conteudo-localidade {
  position: relative;

  p {
    color: #fff;
    min-height: 150px;
    margin-top: 15px;
    font-weight: 600;
  }
}

.blog-home {
  background-color: $corSecundaria;
}

.card-title {
  min-height: 54px;
}

.card {
  min-height: 480px;
}

.blog-home {
  .card {
    border-width: 0;
    overflow: hidden;

    .button {
      top: 20px;
      position: relative;
    }

    .link-title-home {
      .card-title {
        transition: $transicaoPadrao;

      }

      &:hover {
        .card-title {
          color: $corPrimaria;
        }
      }
    }

    .link-img-home {
      transition: $transicaoPadrao;

      &:hover {
        filter: brightness(0.5);
      }
    }
  }
}

.newsletter-home {
  background-color: #000;
  padding: 10px 0 83px 0;
  margin-top: 300px;

  h3 {
    text-transform: uppercase;
    color: $corBranca;
    font-weight: 600;
    font-size: 28px;

    strong {
      color: $corPrimaria;
      font-weight: 600;
    }
  }

  p {
    color: $corBranca;
    font-size: 19px;
    font-weight: 500;
  }

  input {
    background-color: #282828;
    border: none;
    color: $corBranca;

    &::placeholder {
      color: #fff;
    }

    &::-webkit-input-placeholder { /* Edge */
      color: #fff;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff;
    }

    &:focus {
      outline: none;
      background-color: #404040;
    }
  }

  button {
    background: #282828;
    color: #fff;
    display: block;
    position: relative;
    height: 53px;
    border: none;
    border-bottom: 3px solid $corPrimaria;
    font-weight: 500;
    font-size: 16px;
    transition: $transicaoPadrao;

    &:hover{
      background-color: #404040;
    }

  }
  .img-newsletter-home {
    position: absolute;
    top: -270px;
    left: 50%;
    transform: translate(-50%);
  }

  .newsletter {
    z-index: 9999999;
  }

}